.hidden{
    display: none;
}

#playlists li{
    cursor: pointer;
}

#playlist-detail h3 button {
    float: right;
    margin-left: 10px;
}

#playlist-detail.mp_busy input{
    background-image: url(https://github.com/dyve/jquery-autocomplete/raw/master/src/indicator.gif);
    background-repeat: no-repeat;
    background-position: 255px 5px;
}

#playlists-box h1 small{
    margin-top: 10px;
    float: right;
}

.tracks li{
    overflow: auto;
}

.tracks .label{
    margin-right: 5px;
}

/**
 * Autocomplete styles
 * https://github.com/jstayton/jquery-marcopolo/wiki/CSS-Starter-Template
 */

ol.mp_list {
  background-color: #FFFFFF;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  overflow: hidden;
  position: absolute;
  width: 278px;
  z-index: 1;
  margin:0;
}

/* Each list item, regardless of success, error, etc. */
ol.mp_list li {
  border-bottom: 1px solid #C0C0C0;
  padding: 4px 4px 5px;
}

/* Each list item from a successful request. */
ol.mp_list li.mp_item {

}

/* Each list item that's selectable. */
ol.mp_list li.mp_selectable {
  cursor: pointer;
}

/* Currently highlighted list item. */
ol.mp_list li.mp_highlighted {
  background-color: #E0E0E0;
}

/* When a request is made that returns zero results. */
ol.mp_list li.mp_no_results {

}

/* When a request is made that doesn't meet the 'minChars' length option. */
ol.mp_list li.mp_min_chars {

}

/* When a request is made that fails during the ajax request. */
ol.mp_list li.mp_error {

}
